body{
   position: relative;
}

h1{
   font-size: 40px;
}

/*Create new product page*/
.create_header{
   display: block;
}
.create_header a.go_back{
  float: left;

}
.create_header h2{
   text-align: center;
}

.copy-right{
    margin-top: 60px;
    background-color: #413c3c;
    color: #bbb5b5;
}