<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products Page | Mahmoud Osman</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<section class="container">
    <div class="row">
        <div class="col-md-10">
            <p class="text-primary">Displaying the list of data from the database using!</p>
        </div>
        <div class="col-md-2">
            <h3>
                <a href="products/new" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                </a>
            </h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3" th:each="product: ${listProducts}">
            <div class="card">
                <img class="card-img-top" src="https://source.unsplash.com/1600x900/?product=random" th:alt="${product.name}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <hr>
                    <p class="card-text"><b>Brand Name:</b> <span th:text="${product.brand}"></span> </p>
                    <hr>
                    <p><b>Made in: </b><span class="card-text" th:text="${product.madein}"></span> </p>
                    <hr>
                    <p class="card-text"><b>Price: </b> <span th:inline="text">$[[${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}]]</span> </p>
                    <hr>
                    <a th:href="@{'/edit/' + ${product.id}}" class="btn btn-info btn-sm" title="Edit product">
                        <span class="fa fa-edit"></span> <b>Edit</b>
                    </a>
                    <a th:href="@{'/delete/' + ${product.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure, you want to delete this record?');" title="Delete product">
                        <i class="fa fa-trash"></i> <b>Delete</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<section class="copy-right text-center">
    <p>&copy; Copyright. 2019. <a href="http://mahmoudosman.com/" target="_blank">Mahmoud Osman</a>. All Rights Reserved.</p>
</section>
<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</body>

</html>