<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Products Page | Mahmoud Osman</title>
        
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>

<section class="container">
    <div class="row">
        <div class="col-md-10">
            <h1 class="text-danger">Product List</h1>
            <hr>
            <p class="text-primary">Displaying the list of data from the database using!</p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Prdocut ID</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Made in</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- listProducts should match the variable that you specifid in the controller-->
                    <tr th:each="product: ${listProducts}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.brand}"></td>
                        <td th:text="${product.madein}"></td>
                        <td th:text="${product.price}" class="text-danger"></td>
                        <td>

                            <a th:href="@{'/edit/' + ${product.id}}" class="btn btn-info btn-sm">Edit</a>
                            <a th:href="@{'/delete/' + ${product.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure, you want to delete this record?');">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2" style="background-color:#f9f9f9; color: #333; height: 100vh;">
            <h3>
                <a href="products/new" class="btn btn-primary">Create New Products</a>
            </h3>
        </div>
    </div>
</section>
</div>
<section class="copy-right text-center">
    <p>&copy; Copyright. 2019. Mahmoud Osman. All Rights Reserved.</p>
</section>
<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</body>

</html>