<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Products Page | Mahmoud Osman</title>
        
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Create New Product</title>
</head>

<body>
<section class="container">
    <div class="create_header">
        <a href="/" class="go_back">  <h5>< Go back</h5></a>
        <h2 class="text-primary">Create New Product</h2> <hr>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <!--        th:object="${product}", should match the name you specified in the create (new) form attribute -->
        <form action="#" th:action="@{/save}" th:object="${product}" method="POST">
            <div class="form-group">
                <label>Prodcut Name</label>
                <input type="text" class="form-control input-lg" name="name" placeholder="Enter product name" required />
            </div>
            <div class="form-group">
                <label>Prodcut Brand Name</label>
                <input type="text" class="form-control input-lg" name="brand" placeholder="Enter product brand name" required />
            </div>
            <div class="form-group">
                <label>Where the product is made?</label>
                <input type="text" class="form-control input-lg" name="madein" placeholder="Where the product is made?" />
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control input-lg" name="price" placeholder="$0.0" />
            </div>
            <button type="submit" class="btn btn-primary"><b>SUBMIT</b></button>
        </form>
    </div>
</section>
</body>

</html>